<div class='small_tile'>
    <span class='name'><%= small_tile.name %></span>
    <br />
    <span class='name'><%= small_tile.description %></span>
    <br />
    <%= form_for @workspace do |f| %>
        <%= f.hidden_field :current_object_id, :value => small_tile.id %>
        <%= f.submit 'Show' %>
    <% end %>
</div>
