<h1>Workspace</h1>
<%= @project.name %>
<%= render 'breadcrumb' %>
<%= render 'new_object' %>
<%= render @current_object unless @current_object.nil? %>
<%= render :partial => "#{@workspace.zoom}_tile", :collection => @workspace.matrix_objects %>
